$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

body {
  margin: 0;
  scroll-behavior: smooth;
}

.travel-landing-page {
  background-image: url("../../images/landing-page/landing-background.png");
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;

    h1 {
      font-family: "Josefin Sans";
      font-weight: 700;
      font-size: 48px;
      color: white;
    }

    h3 {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-size: 22px;
      color: white;
    }
  }
}

.travel-landing-page__container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.travel-search-bar {
  display: flex;

  &__container {
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: row;
  }
}

.travel-search-bar__container-input {
  border: none;
  height: 40px;
  width: 320px;
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #999999;
  text-align: center;
}

.travel-landing-page__search-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5474fd;
  font-family: "aleo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  border-color: white;
  cursor: pointer;
}

.travel-landing-page-scrolling-effect {
  display: flex;
}

.scroll a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.scroll a:hover {
  opacity: 0.5;
}

#scrolling-effect a {
  padding-top: 70px;
}
#scrolling-effect a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.main-page-nav-bar {
  height: 83px;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5474fd;
  h3 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #ffffff;
    // margin: 150px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    font-family: "Aleo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    li {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.main-page {
  width: 100%;
  background-image: url(../../images/main-page/main-page-background.png);
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    justify-content: space-between;
    &-text {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      justify-content: space-around;
      align-items: flex-start;
      text-align: start;
    }

    h2 {
      font-family: "Aleo", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      color: white;
    }
    p {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #e8e8e8;
      letter-spacing: 1.6px;
    }

    button {
      width: 180px;
      height: 43px;
      background-color: #496bfe;
      border-color: white;
      font-family: "Aleo", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: white;

      margin-top: 60px;
      text-transform: uppercase;

      cursor: pointer;
    }
  }

  &__description-imgs {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex: auto;
  }
}

#mountain-destination {
  margin-top: 10px;
  margin-left: 80px;
}

.roadmap {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding: 15px;

  &-figure {
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    align-self: center;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    p {
      font-family: "Aleo", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      color: #e8e8e8;
    }
  }
  &__item {
    text-align: center;
  }
}

.grant-spain-part-one {
  background-image: url("../../images/spanish-appartment.png");
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__description-container {
    height: auto;

    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5rem;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      height: 400px;
    }
    background-color: #232323;
    background-color: rgba(35, 35, 35, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    &-text {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      justify-content: space-around;
      align-items: flex-start;
      text-align: start;
    }
    h4 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #e8e8e8;
      opacity: 1;
    }
    h3 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-transform: uppercase;
      color: white;
      opacity: 1;
    }
    p {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #e8e8e8;
    }

    button {
      width: 180px;
      height: 43px;
      background-color: #496bfe;
      border-color: white;
      font-family: "Aleo", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: white;
      margin-top: 60px;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 1;
    }
  }
}

.grant-spain-part-two {
  background-image: url("../../images/mountain-sunset.png");
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__description-container {
    height: auto;
    padding: 0.5rem;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      height: 400px;
    }

    margin-left: 10%;
    margin-right: 10%;
    background-color: #232323;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;

    &-text {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      justify-content: space-around;
      align-items: flex-start;
      text-align: start;
    }
    h4 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #e8e8e8;
    }
    h3 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-transform: uppercase;
      color: white;
    }
    p {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #e8e8e8;
    }

    button {
      width: 180px;
      height: 43px;
      background-color: #496bfe;
      border-color: white;
      font-family: "Aleo", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: white;
      margin-top: 60px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.tourist-comment {
  background-image: url(../../images/tourist-comment-background.png);
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-family: "Aleo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
  }
  &__container {
    display: flex;
    flex: 1;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      flex: unset;
    }

    &-img {
      display: flex;
      flex: 1;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../images/tourist.png);
      width: 100%;
    }

    &-text {
      padding: 0.5rem;
      flex: 1;
      @media (min-width: $screen-sm-min) {
        flex: 2;
      }
      background-color: #333333;
      display: flex;
      flex-direction: column;
      text-align: start;
      h5 {
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #fefefe;
      }
      p {
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
      }
      span {
        color: #5474fd;
      }
    }
  }
}

footer {
  background-color: grey;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .footer-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
    }
    h3 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin-top: 0;
    }
  }

  .travel-landing-page-footer__icons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
}

.container {
  @media (min-width: $screen-sm-min) {
  }
  @media (min-width: $screen-md-min) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (min-width: $screen-lg-min) {
    padding-left: 25%;
    padding-right: 25%;
  }
}
